{% extends "base.html" %}
{% block title %}SQLi Уровень 3 - Теория{% endblock %}
{% block content %}
<h1>SQL Injection Уровень 3 - Теория</h1>
<p class="lead">
    Даже при использовании параметров в SQL-запросах, неправильная обработка типов данных или преобразований может привести к уязвимостям SQL-инъекции. Если пользовательский ввод не проверяется должным образом, злоумышленник может изменить поведение запроса.
</p>
<p class="lead">
    В этом уровне используется строковое форматирование без кавычек, что позволяет злоумышленнику изменять структуру запроса.
</p>
<a href="{{ url_for('sqli.level3_practice') }}" class="btn btn-primary">Перейти к практике</a>
<br><br>
<a href="{{ url_for('main_page') }}" class="btn btn-secondary">Вернуться в главное меню</a>
{% endblock %}
