{% extends "base.html" %}
{% block title %}Сканирование приложения{% endblock %}
{% block content %}
<h2 class="mt-4">Сканирование приложения с помощью PT Application Inspector</h2>

<p>Плагин <strong>PT Application Inspector</strong> помогает находить уязвимости и недокументированные возможности в исходном коде приложений. Помимо анализа кода, встроенные модули находят ошибки в конфигурационных файлах и уязвимости в сторонних компонентах и библиотеках, используемых при разработке. Плагин поддерживает следующие языки программирования: C#, Go, Java, JavaScript, Kotlin, PHP, Python, Ruby, SQL и TypeScript.</p>

<h2 class="mt-5">Установка и включение плагина</h2>

<p><img src="{{ url_for('static', filename='images/plugin.png') }}" alt="Пример сканирования" class="img-fluid mt-1"></p>

<p>Для начала работы необходимо включить плагин в папке открытого проекта. При повторном открытии проекта плагин включается автоматически, сохраняя историю сканирования и действий. Плагин создаёт папку <code>.ai</code> в проекте, в которой хранятся база данных, файлы логов и файл конфигурации.</p>

<h3>Установка анализатора кода</h3>
<p>Для корректной работы плагина необходимо установить анализатор кода. Его можно загрузить автоматически, нажав <strong>Download Analyzer</strong> в интерфейсе Visual Studio Code, или вручную, скачав с официального сайта.</p>
<ul>
    <li>Для Windows: <a href="https://update.ptsecurity.com/api/v6/products/AI.INFRASTRUCTURE.INSTALLATOR.zip/2.3.0.40145/download/AI.INFRASTRUCTURE.INSTALLATOR.2.3.0.40145.zip">скачать</a></li>
</ul>
<p>После загрузки установите анализатор.</p>

<p><img src="{{ url_for('static', filename='images/analyzer.png') }}" alt="Пример сканирования" class="img-fluid mt-1"></p>

<h2 class="mt-5">Как запустить сканирование</h2>
<p>Запустить сканирование проекта можно следующими способами:</p>
<ul>
    <li>Нажав на кнопку в разделе <strong>CODE SCANNING</strong>;</li>
    <li>При сохранении изменений в проекте, если выбрана опция <em>On saving</em>;</li>
    <li>Командой <strong>PT Application Inspector: Start Scan</strong> в командной палитре;</li>
    <li>Командой <strong>PT Application Inspector: Start Full Scan</strong> для полного сканирования.</li>
</ul>
<p>Процесс сканирования отображается на вкладке <strong>OUTPUT</strong>. Первое сканирование занимает больше времени, так как происходит первоначальная загрузка базы данных уязвимых компонентов.</p>

<h2 class="mt-5">Анализ результатов сканирования</h2>
<p>Все найденные уязвимости отображаются на вкладке <strong>PROBLEMS</strong> и в разделе <strong>CODE SCANNING</strong>. Щелкнув по уязвимости, можно перейти к соответствующей строке кода в редакторе. Диаграмма <strong>DATA FLOW</strong> отображает, как данные проходят через приложение, и содержит следующие элементы:</p>
<ul>
    <li><strong>Entry point</strong> – начальная точка контроля потока данных;</li>
    <li><strong>Data entry point</strong> – файл и строка кода, где данные поступают в приложение;</li>
    <li><strong>Data changes</strong> – описание функций, изменяющих потенциально опасные данные;</li>
    <li><strong>Exit point</strong> – строка выполнения потенциально уязвимой функции;</li>
    <li><strong>Best place to fix</strong> – строка кода, где лучше всего исправить уязвимость.</li>
</ul>

<h2 class="mt-5">Управление уязвимостями</h2>
<p>Плагин позволяет подтверждать или отклонять уязвимости, фильтровать их по степени опасности, статусу и другим параметрам, а также сравнивать результаты двух сканирований.</p>

<p><img src="{{ url_for('static', filename='images/scan.png') }}" alt="Пример сканирования" class="img-fluid mt-4"></p>

<h2 class="mt-5">Результат</h2>
<p>Мы видим, что в нашем приложении есть уязвимости.</p>

<a href="{{ url_for('main_page') }}" class="btn btn-secondary w-100 mt-4 mb-4">Вернуться в главное меню</a>

{% endblock %}
